node_modules
dist
.env
npm-debug.log
yarn-debug.log
yarn-error.log
.git
.github
.vscode
*.md
*.log
test
coverage
.DS_Store
.gitignore
.prettierrc
eslint.config.mjs
CONTRIBUTING.md
docker-compose.yml
Dockerfile